*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
}

.container{
    max-width: 1320px;
    margin: auto;
}

.container-fluid{
    width: 100%;
}

/* -------------------flex-property----------------- */

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.display-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-content{
    justify-content: end;
}

.justify-space{
    justify-content: space-between;
}


.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: start;
}


.inline-block{
    display: inline-block;
}

/* ---------------------------navbar----------------------- */

/* .postion-relative{
    position: relative;
}

.menu-button{
    position: absolute;
} */

.dropdown{
    position:relative;
}

.dropdown-menu{
    position: absolute;
    list-style: none;
    display: none;
    top: 27px;
    box-shadow: 1px 1px 4px solid black;
    scroll-behavior: smooth;
    background-color: white;
    color: black;
    padding: 20px;
    line-height: 35px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}


.dropdown-menu:hover{
        color: black;
        
}

/* -------------------------align-items------------------------ */

.align-center{
    align-items: center;
}

.align-end{
    align-items: end;
}


/* -----------------------margin------------------------- */

.mt-20{
    margin-top: 20px;
}
.mt-50{
    margin-top: 50px;
}
.mt-100{
    margin-top: 100px;
}
.mt-150{
    margin-top: 150px;
}

.mt-b-100{
    margin-bottom: 100px;
}



/* ----------------------------padding------------------ */
.p10{
    padding: 10px 10px;
}

.p20{
    padding: 20px 20px;
}

.p30{
    padding: 30px 30px;
}
.p50{
    padding: 50px 50px;
}


.p15{
    padding: 15px 15px;
}
.p50{
    padding: 50px 50px;
}
.p-t{
    padding-top: 15%;
}
.p-top{
    padding-top: 10%;
}
.p-top5{
    padding-top: 5%;
}
.p-b{
    padding-bottom: 10px;
}
.p-bfooter{
    padding-bottom: 20px;
}
.p-b3{
    padding-bottom: 20px;
}
.p-b2{
    padding-bottom: 5px;
}

.p-bottom{
    padding-bottom: 15%;
}
.p-bottom2{
    padding-bottom: 10%;
}
.p-r{
    padding-right: 10px;
}
.p-right{
    padding-right: 20px;
}
.p-l{
    padding-left: 10px;
}
.p-l2{
    padding-left: 20px;
}
.p-left{
    padding-left: 30px;
}
.p-left2{
    padding-left: 80px;
}
.p-left3{
    padding-left: 70px;
}
.p-r{
    padding-right: 10px;
}


/* ---------------------width------------------------ */
.effectwidth{
    width:200px;
}

/* ---------------height------------------ */

.h-100{
    height: 100px;
}
.h-200{
    height: 200px;
}

.h-300{
    height: 300px;
}

.h-400{
    height: 400px;
}

.h-500{
    height: 500px;
}

/* -----------------texts--------------------- */

.t-c{
    text-align: center;
}

.t-e{
    text-align: end;
}

/* ----------------border--------------------------- */

.b-red{
    border: 1px solid red;
}
.b-green{
    border: 1px solid green;
}
.b-blue{
    border: 1px solid blue;
}
.b-gray{
    border: 1px solid gray;
}
.b-black{
    border: 1px solid black;
}
.b-orange{
    border: 1px solid orange;
}
.b-gray{
    border: 1px solid gray;
}
.b-none{
    border: none;
}

.b-white{
    border: 1px solid white;
}

.b-up{
    border-top: 1px solid gainsboro;
}



/* -----------------------background-color--------------------------- */

.back-color{
    background-color: #e3f3f0;
}
.back-white{
    background-color: white;
}


.back-color2{
    background-color: #ffeed4;
}

.back-color3{
    background-color: #eb6c59;
}

.back-img{
    background-image: url(../img/theme.png);
}

.back-green{
    background-color: #4cc083;
}

.back-green2{
    background-color: #e2f3f0;
}

.back-skeen{
    background-color: #ffeed3;
}

.back-gray{
    background-color: #e0e5eb;
}
.back-tomato{
    background-color: #ffe9e5;
}

.back-green2{
    background-color: #e3f3f0;
}

/* -------------------------------------------------------css-design---------------------------------------- */

/* -------------font-color-------------------- */
.color-white{
    color: white;
}

.color-green{
    color: #4cc083;
}
.color-red{
    color: #eb6c59;
}

.color-brown{
    color: #30333a;
}

.color-br{
    color: #6c757d;
}

.color-yelow{
    color: #f3c06e;
}

.color-tomato{
    color: #ec6c5a;
}
.color-gray{
    color: #827e7b;
}

/* ----------------icons------------------- */

.icons>i{
    font-size: 23px;
    font-weight: 500; 
}


.gap{
 gap: 5%;
}



/* -------------------li------------------- */

li{
    list-style: none;
    font-weight: 600;
}

.greenffect:hover{
    color: #4cc083;
    transition: all 0.5s;
}


/* -----------------fonr-size------------------------- */

.font80{
    font-size: 80px;
}
.font24{
    font-size: 24px;
}

.font14{
    font-size: 14px;
}

.font16{
    font-size: 16px;
}
.font20{
    font-size: 20px;
}

.font32{
    font-size: 32px;
}
.font40{
    font-size: 40px;
}
.font50{
    font-size: 50px;
}
.font-weight{
    font-weight: 600;
}

/* ---------------line-height---------------------- */
.line-height{
    line-height: 120%;
}



/* -------------------input------------------ */

.inputemail{
    width: 90%;
    position: relative;
}

.box{
    background-color: #4cc083;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transform: translateX(-110%);
    align-self: center;
}

.footerplace::placeholder{
    text-align: center;
}


/* -------------------radius------------------------ */
.radius{
    border-radius: 10px;
}
.radius30{
    border-radius: 30px;
}
.radius50{
    border-radius: 50%;
}


/* -------------------------------shadow------------------------- */

.shadow{
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.shadow2{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



/* ------------------------hover-effects------------------------ */

.b4e:hover{
    background-color: #4cc083;
    color: white;
    transition: all 0.5s;
}
.b4e:hover h2{
    color: white;
    transition: all 0.5s;
}

.pc1:hover{
    background-color: #46a874;
    transition: all 0.5s;
}
.cw:hover{
    color: white;
    transition: all 0.5s;
}
.cw:hover .cv{
    color:white;
    transition: all 0.5s;
}

.pc2:hover{
    background-color: #363b46d3;
    transition: all 0.5s;
}
.pc3:hover{
    background-color: #e6a844e3;
    transition: all 0.5s;
}

.pc4:hover{
    background-color: #f15f4c;
    transition: all 0.5s;
}

.cg:hover{
    color: #46a874;
    transition: all 0.5s;
}


.imgffect{
    border-radius: 10px;
    overflow: hidden;
}
.imgffect img{
    transition: scale 0.5s;
}

.imgffect img:hover{
    scale: 1.1;
}

.t-green:hover{
    color: #46a874;
    transition: all 0.5s;

}





/* --------------button---------------------- */

.lm{
    width: 30%;
    border: none;
}

.lm:hover{
    background-color: #46a874;
    color: white;
    transition: all 0.5s;
}


/* ------------slider------------------------- */


.slick-next {
    right: -25px;
    display: none;
}

.slick-prev{
    display: none;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 50px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 20px; */
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color:#46a874 !important;
    
}

/* -------------------------------------icons-effects-------------------------------------- */




.icon{
    position: absolute;
    flex-direction: column;
}

.icon i{
    z-index: 1000;
    font-size: 25px;
    color: white;
    background-color: #4CC082;
    padding: 5px;
    transform: rotateY(-90deg);
    transform-origin: 0% -50%;
    overflow: hidden;
    transition: all 0.5s; 
}
.icon i:first-child{
    transition: all 0.4s;
}
.icon i:nth-child(2){
    transition: all 0.4s 0.3s;
}
.icon i:nth-child(3){
    transition: all 0.4s 0.6s;
}
.icon i:last-child{
    transition: all 0.4s 0.9s;
}

.img-hover:hover .icon i{
    transform: rotateY(0deg);
    }


.position-relative-img{
    position: relative;
   
}




/* .slick-prev .slick-next {
    font-size: 0;
    line-height: 0;
    position:absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
} */